
<div class="container-fluid footer_border">
</div>
<div class="container-fluid footer_">

  <div class="row">
    <div class="col-md-4">
    	<img src="{{ url_for('static', filename='images/logo1.png') }}"><br><br>
      <p style="font-size: smaller; color: #e9ecef; text-align: left;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College.</p>
    </div>
    <div class="col-xs-2 v-divider"></div>
    <div class="col">
    	<div class="row" >

    		<ul style="list-style:none;">
    			<h5>Menu</h5>
    			<li><a href="/dashboard"><i class="fas fa-home"></i>&nbsp&nbsp&nbsp&nbsp Home</a></li>
    			<li><a href="/devices"><i class="fas fa-stream"></i>&nbsp&nbsp&nbsp&nbsp Devices</a></li>
    			<li><a href="/sendcmd"><i class="fas fa-terminal"></i>&nbsp&nbsp&nbsp&nbsp CMD</a></li>
    			<li><a href="/showColl_"><i class="fas fa-database"></i>&nbsp&nbsp&nbsp&nbsp Records</a></li>
    			<li><a href="/setup"><i class="fas fa-cogs"></i>&nbsp&nbsp&nbsp&nbsp Settings</a></li>
    			<li><a href="/editProfile"><i class="fas fa-users"></i>&nbsp&nbsp&nbsp&nbsp Profile</a></li>
    		</ul>
    	</div>
    </div>
    <div class="col-xs-2 v-divider"></div>
    <div class="col">
    	    	
    	    	<ul style="list-style:none;">
    	    		<h5>Follow us</h5>
    			<li><a href="/#" class="foot_follow_fb"><i class="fab fa-3x fa-facebook-square"></i></a></li>
                <li><a href="/#" class="foot_follow_wi"><i class="fab fa-3x fa-weibo"></i></a></li>
    			<li><a href="/#" class="foot_follow_ln"><i class="fab fa-3x fa-linkedin"></i></a></li>
                <li><a href="/#" class="foot_follow_tw"><i class="fab fa-3x fa-twitter-square"></i></a></li>
    			
    		</ul>
    </div>
    <div class="col-xs-2 v-divider"></div>
    <div class="col">
    	<ul style="list-style:none;">
    			<h5>Contat us</h5>
    			<li><p><span><i class="fas fa-map-marker-alt" style="color: #00ff1b;"></i></span>&nbsp&nbsp <span>Qianjin da jie, chaoyang qu Changchun Jilin CHINA</span></p></li>
				<li><p><span><i class="fas fa-phone-volume" style="color: #00ff1b;"></i></span>&nbsp&nbsp <span>000-0000-0000</span></p></li>
				<li><p><span><i class="far fa-envelope" style="color: #00ff1b;"></i></span>&nbsp&nbsp <span>skycloud@mail.com</span></p></li>
    		</ul>
    </div>
  </div>
 
</div>


<div class="container-fluid" id="c_end">
	 <div class="row">
    <div class="col-8">© Copyright 2020, SkyCloud.com, Inc.</div>
  </div>
</div>
