<div class="container-fluid" id="c_follow">
  <div id="c_follow_links">
    <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>      <a href="#"><i class="fab fa-2x fa-twitter-square"></i></a>      <a href="#"><i class="fab fa-2x fa-linkedin"></i></a>      <a href="#"><i class="fab fa-2x fa-weibo"></i></a>             
  </div>




</div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <a class="navbar-brand" href="/dashboard">SKYCLOUD</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard"><i class="fas fa-home"></i>  Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/devices"><i class="fas fa-stream"></i>  Devices</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="/mqtt-console">Data-Console</a>
        </li>
      -->
        <li class="nav-item">
          <a class="nav-link" href="/sendcmd"><i class="fas fa-terminal"></i>  CMD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/showColl_"><i class="fas fa-database"></i>  Records</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/setup"><i class="fas fa-cogs"></i>  SetUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editProfile"><i class="fas fa-users"></i>  Profile</a>
        </li>
      </ul>
      <a id="c_logout" href="/logout" style="text-decoration: none;">Logout   <i class="fas fa-sign-out-alt"></i></a>
    </div>
  </nav>
  <div class="container-fluid footer_border">
</div>

