{% extends 'layout.html' %}
{% block config %}
<div class="container-fluid" id="_devices">Gateway Configuration /</div>
<br>
<div class="container-fluid" id="setup_page">
<form class="container-fluid" action = "/setup/" method = "POST">
	<div class="form-row">
         <div class="col-md-4">
        <h6>Server Socket:</h6>
          <input type="text" name="server_socket" class="form-control" placeholder="i.e. 127.0.0.1:5000 ">
      </div>
		<div class="col-md-4">
          <h6>Cache Size</h6>
			<input type="text" name="cache_size" class="form-control" placeholder="i.e. 12">
		</div>

		<div class="col-md-4">
      <h6>RSSI Range</h6>
			<input type="text" name="rssi_range"class="form-control" placeholder="-50 | -90">
		</div>

  </div>
  <br>

    <div class="form-row">
            <div class="col-md-4">
          <h6>Serial No:</h6>
          <input type="text" name="serial_no" class="form-control" placeholder="0000000001">
      </div>
      <div class="col-md-4">
        <h6>User Name:</h6>
        <input type="text" name="gw_uname" class="form-control" placeholder="admin ">
      </div>
      <div class="col-md-4">
          <h6>Password:</h6>
          <input type="text" name="gw_pass" class="form-control" placeholder="12345">
      </div>
    </div>
    <br>
    <div class="form-row">
<br>
      <div class="col-md-4">
          <h6>Interval:</h6>
          <input type="text" name="data_interval" class="form-control" placeholder="10 sec">
      </div>
    </div>
 <br>
<div class="form-row">
      <div class="col-md-4">
          <h6>Sniffer Type:</h6>
    <select class="form-control" name="sniffer_type" id="exampleFormControlSelect1" placeholder="Select">
      <option selected="">----</option>
      <option>IBeacon</option>
      <option>Wifi</option>
    </select>
    </div>

</div>
<br>
<div class="form-row">
      <div class="col-md-4">
          <h6>Heart Beat:</h6>
    <select class="form-control" name="heart_beat" id="exampleFormControlSelect1" placeholder="Select">
      <option selected="">----</option>
      <option>on</option>
      <option>off</option>
    </select>
    </div>

</div>
<br>
<div class="form-row">
      <div class="col-md-4">
          <h6>Post Data:</h6>
    <select class="form-control" name="enable_post_data" id="exampleFormControlSelect1" placeholder="Select">
      <option selected="">----</option>
      <option>on</option>
      <option>off</option>
    </select>
    </div>

</div>
<br>

<div class="form-row">
      <div class="col-md-4">
          <h6>Protocol</h6>
    <select class="form-control" name="protoc" id="exampleFormControlSelect1" placeholder="Select">
      <option selected="">----</option>
      <option>MQTT</option>
      <option>HTTP</option>
    </select>
    </div>
</div>
<br>
	<fieldset disabled>
    	<div class="form-group">
      		<h6>Public Key</h6>
      		<input type="text" id="disabledTextInput" class="form-control" name="pubkey" value="/check/public.key" placeholder="/check/public.key">
    	</div>
  	</fieldset>
    <button type="submit" class="btn btn-primary">Generate File</button>
<br>
</form>
<br>
</div>
{% endblock %}
